<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.briarproject.bramble">

	<uses-feature
		android:name="android.hardware.bluetooth"
		android:required="false" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<!-- The BLUETOOTH permission was supposed to be removed in API 31 but is still needed on some Xiaomi/Redmi/POCO devices running API 31 and Nubia devices running API 32/33 -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission
		android:name="android.permission.BLUETOOTH_ADMIN"
		android:maxSdkVersion="30" />
	<uses-permission
		android:name="android.permission.BLUETOOTH_SCAN"
		android:usesPermissionFlags="neverForLocation"
		tools:targetApi="31" />
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:allowBackup="false"
		android:label="@string/app_name"
		android:supportsRtl="true">

		<receiver android:name=".system.AlarmReceiver" />

	</application>

</manifest>
