<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.sf.briar"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

	<application
		android:theme="@style/LightTheme"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:allowBackup="false" >
		<service
			android:name=".android.BriarService"
			android:exported="false" >
			<intent-filter>
				<action android:name="net.sf.briar.android.BriarService" />
			</intent-filter>
		</service>
		<activity
			android:name=".android.SplashScreenActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".android.HomeScreenActivity"
			android:label="@string/app_name" >
		</activity>
		<activity
		    android:name=".android.contact.ContactListActivity"
		    android:label="@string/contact_list_title" >
		</activity>
		<activity
			android:name=".android.groups.GroupActivity"
			android:label="@string/groups_title" >
		</activity>
		<activity
			android:name=".android.groups.GroupListActivity"
			android:label="@string/groups_title" >
		</activity>
		<activity
			android:name=".android.groups.ReadGroupMessageActivity"
			android:label="@string/groups_title" >
		</activity>
		<activity
			android:name=".android.groups.WriteGroupMessageActivity"
			android:label="@string/compose_group_title" >
		</activity>
		<activity
			android:name=".android.invitation.AddContactActivity"
			android:label="@string/add_contact_title" >
		</activity>
		<activity
			android:name=".android.messages.ConversationActivity"
			android:label="@string/messages_title" >
		</activity>
		<activity
			android:name=".android.messages.ConversationListActivity"
			android:label="@string/messages_title" >
		</activity>
		<activity
			android:name="net.sf.briar.android.messages.ReadPrivateMessageActivity"
			android:label="@string/messages_title" >
		</activity>
		<activity
			android:name="net.sf.briar.android.messages.WritePrivateMessageActivity"
			android:label="@string/compose_message_title" >
		</activity>
	</application>
</manifest>
