.metadata
*.tmp

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Eclipse project files
.classpath
.project

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea
.gradle
build
*.iml
