.metadata
*.tmp
*.swp

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Eclipse project files
.classpath
.project
.settings

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/*
!.idea/runConfigurations/
!.idea/codeStyleSettings.xml
!.idea/codeStyles
.gradle
build/
captures
*.iml
projectFilesBackup/

# Fastlane Non-Google Play Screenshots
briar-android/fastlane/metadata/android/screenshots.html
briar-android/fastlane/metadata/android/*/images/phoneScreenshots/manual_*.png
briar-android/fastlane/report.xml
briar-android/fastlane/README.md