.metadata
*.tmp
*.swp

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Eclipse project files
#.classpath
#.project

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/*
!.idea/codeStyleSettings.xml
.gradle
build/
*.iml
.gitignore
src/test/
